<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>修改权限</title>
    <link rel="stylesheet" type="text/css" href="__CSS__/common.css"/>
    <link rel="stylesheet" type="text/css" href="__CSS__/main.css"/>
    <script type="text/javascript" src="__JS__/libs/modernizr.min.js"></script>
</head>
<body>
<!--引入头部文件-->
{include file="common/top" /}
<div class="container clearfix">
    <div class="sidebar-wrap">
        <div class="sidebar-title">
            <h1>菜单</h1>
        </div>
        <!--引入左侧文件-->
        {include file="common/left" /}
    </div>
    <!--/sidebar-->
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list">
                <i class="icon-font"></i>
                <a href="/jscss/admin/design/">首页</a>
                <span class="crumb-step">&gt;</span>
                <a class="crumb-name" href="{:url('privilege/lst')}">权限管理</a>
                <span class="crumb-step">&gt;</span>
                <span>修改权限</span>
            </div>
        </div>
        <div class="result-wrap">
            <div class="result-content">
                <form action="" method="post" id="myform" name="myform" enctype="multipart/form-data">
                    <input type="hidden" name="id" value="{$prires.id}" />
                    <table class="insert-tab" width="100%">
                        <tbody>
                        <tr>
                            <th width="120"><i class="require-red">*</i>上级权限：</th>
                            <td>
                                <select name="parentid" id="catid" class="required">
                                    <option value="0">顶级权限</option>
                                    {volist name="pris" id="pri"}
                                    <option {if condition="$prires['id'] eq $pri['id']"} style="display: none" {/if} {if condition="$prires['parentid'] eq $pri['id']"} selected="selected" {/if} value={$pri.id}>{if condition="$pri['parentid'] eq 0"}{else}|{/if}<?php echo str_repeat('-',$pri['level']*4)?>{$pri.pri_name}</option>
                                    {/volist}
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th><i class="require-red">*</i>权限名称：</th>
                            <td>
                                <input class="common-text required" id="" name="pri_name" size="50" value="{$prires.pri_name}" type="text">
                            </td>
                        </tr>
                        <tr>
                            <th><i class="require-red">*</i>模块名称：</th>
                            <td>
                                <input class="common-text required" id="" name="mname" size="50" value="{$prires.mname}" type="text">
                            </td>
                        </tr>
                        <tr>
                            <th><i class="require-red">*</i>控制器名称：</th>
                            <td>
                                <input class="common-text required" id="" name="cname" size="50" value="{$prires.cname}" type="text">
                            </td>
                        </tr>
                        <tr>
                            <th><i class="require-red">*</i>方法名称：</th>
                            <td>
                                <input class="common-text required" id="" name="aname" size="50" value="{$prires.aname}" type="text">
                            </td>
                        </tr>
                        <tr>
                            <th></th>
                            <td>
                                <input class="btn btn-primary btn6 mr10" value="提交" type="submit">
                                <input class="btn btn6" onclick="history.go(-1)" value="返回" type="button">
                            </td>
                        </tr>
                        </tbody></table>
                </form>
            </div>
        </div>

    </div>
    <!--/main-->
</div>
</body>
</html>